<p>Tempore quo primis auspiciis in mundanum fulgorem surgeret victura dum erunt homines Roma, ut augeretur sublimibus incrementis, foedere pacis aeternae <u>Virtus convenit atque Fortuna</u> plerumque dissidentes, quarum si altera defuisset, ad perfectam non venerat summitatem.<br />
Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium, cetera medium principem sed siquid auribus eius huius modi quivis <strong>infudisset</strong> ignotus, acerbum et inplacabilem et in hoc causarum titulo dissimilem sui.<br />
Siquis enim militarium vel <em>honoratorum</em> aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus, capite vel multatione bonorum aut insulari solitudine damnabatur.</p>

<p>&nbsp;</p>
