{% extends "PTUTPlatformBundle:Platform:layout.html.twig" %}{% block body %}<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 container-fluid">
<h1>TITRE DE L&#39;ARTICLE</h1>

<h2>SOUS-TITRE 1</h2>

<p>Texte de l&#39;article 1</p>

<h2>SOUS-TITRE 2</h2>

<p>Texte de l&#39;article 2</p>
</div>
</div>
{% endblock %} 