<div class="blog">
<div class="blog-item"><img alt="Image à remplacer" height="180" src="https://www.w3schools.com/css/trolltunga.jpg" width="601" />
<div class="blog-content">
<h3>Article de test template</h3>

<p>Oui alors voil&agrave; c&#39;est un test</p>
</div>
</div>
</div>
