[class*="col-"], footer {
    text-align: center;
    padding: 10px;

}
.row {
    margin-top: 5px;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

li:active {
    color : darkblue;
    background: none;
}