{% extends "PTUTPlatformBundle:Platform:layout.html.twig" %}

{% block ongletAbout %}active{%endblock%}

{% block body %} 
<section id="about_us" class="container">
    <div id="meet-the-team" class="row">
        <div class="col-md-2 col-xs-4">
        <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlmAAAAJDVhNzQyMGU3LTBhMjEtNGJjOC1iYTI5LTliNWQ5NTYwMTg1Yw.jpg" alt=""></p>
        <h5>Antonin Guyot<small class="designation muted">Membre PTUT</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p><a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/antonin-guyot-90119b134/"><i class="icon-linkedin"></i></a>
        </div>
        </div>
        <div class="col-md-2 col-xs-4">
        <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAApUAAAAJGM1OTcyOGFlLTNjODEtNDhiMC1iMDJiLWRhNzI5OGVkM2YyZg.jpg" alt=""></p>
        <h5>Sunny Nguyen<small class="designation muted">Membre PTUT</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p><a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/sunny-nguyen-8ab779133/"><i class="icon-linkedin"></i></a>
        </div>
        </div>
        <div class="col-md-2 col-xs-4">
        <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/541158_2909952503693_292641366_n.jpg?oh=07c39ba0141cc953cf384797f90a2abf&oe=59E030C0" alt="" width="395" height="395"></p>
        <h5>Manon Rajanarivelo<small class="designation muted">Membre PTUT</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p><a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/manon-rajaonarivelo-97b77a133/"><i class="icon-linkedin"></i></a>
        </div>
        </div>
        <div class="col-md-2 col-xs-4">
        <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkuAAAAJDAxNGM3ZTJkLWFlMWItNDZmNi1iMDIwLTYyMDlkOThlMTQxNQ.jpg" alt=""></p>
        <h5>Simon Pasquereau<small class="designation muted">Membre PTUT</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p><a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/simon-pasquereau-4ba68667/"><i class="icon-linkedin"></i></a>
        </div>
        </div>
        <div class="col-md-2 col-xs-4">
        <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAhSAAAAJDFhOGFhMjA0LWFjNTEtNGQ2MS1iNzg4LWUxNDU1OThiZTBiNA.jpg" alt="" width="395" height="395"></p>
        <h5>Mehdi Labourdette<small class="designation muted">Membre PTUT</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p><a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/mehdi-labourdette/"><i class="icon-linkedin"></i></a>
        </div>
        </div>
    </div>
</section>
{%endblock%}