{% extends "PTUTPlatformBundle:Platform:layout.html.twig" %}

{% block body %} 

<section id="article_creator">
    <div class="row">
        <form name="article_editor" method="post" action="" class="col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-xs-12 col-sm-10 col-md-10 col-lg-8">
            <div class="form-group">
                <label for="thumbnail">Miniature :</label>
                <input type="file" name="miniature" id="thumbnail_editor">
            </div>    
            <div class="form-group">
                <label for="title_editor">Titre :</label>
                <input type="text" name="titre"  class="form-control" id="title_editor">
            </div>
            <div class="form-group">
                <label for="content_editor">Contenu :</label>
                <textarea class="form-control" name="content_editor" id="content_editor"></textarea>
            </div>
            <script>
                CKEDITOR.replace('content_editor',);
            </script>
            <button type="submit" class="btn btn-default">Créer  l'article</button>
        </form>
    </div>
</section>



{%endblock%}