{% extends "PTUTPlatformBundle:Platform:layout.html.twig" %}

{% block ongletHome %}active{%endblock%}

{% block body %} 

    <section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
				<li data-target="#main-slider" data-slide-to="3"></li>
                <li data-target="#main-slider" data-slide-to="4"></li>
				<li data-target="#main-slider" data-slide-to="5"></li>
                <li data-target="#main-slider" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(bundles/ptutplatform/images/slider/cinema.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Le festival du cinéma vous ouvre ses portes</h2>
                                    <p class="animation animated-item-2">Du 10 au 20 Mai 2017</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
				
				<div class="item" style="background-image: url(bundles/ptutplatform/images/slider/gattaca.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Bienvenue à Gattaca</h2>
                                    <p class="animation animated-item-2">Projections supplémentaires</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
				
				<div class="item" style="background-image: url(bundles/ptutplatform/images/slider/heis.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Heis</h2>
                                    <p class="animation animated-item-2">Le cinéma français à l'honneur</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
				
                <div class="item" style="background-image: url(bundles/ptutplatform/images/slider/laguerriere.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Guerrière</h2>
                                    <p class="animation animated-item-2">Un film à fleur de peau</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
				
				<div class="item" style="background-image: url(bundles/ptutplatform/images/slider/manfromearth.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">The Man From Earth</h2>
                                    <p class="animation animated-item-2">Un huis clos captivant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
				
                <div class="item" style="background-image: url(bundles/ptutplatform/images/slider/manchester.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Manchester by the sea</h2>
                                    <p class="animation animated-item-2">De Casey Affleck</p>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered">
                                    <div class="embed-container">
                                        <iframe src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section>
{%endblock%}