<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% block include %} {% endblock %}
    <title>PTUT</title>
    <link href="bundles/ptutplatform/css/bootstrap.min.css" rel="stylesheet">
    <link href="bundles/ptutplatform/css/font-awesome.min.css" rel="stylesheet">
    <link href="bundles/ptutplatform/css/prettyPhoto.css" rel="stylesheet">
    <link href="bundles/ptutplatform/css/animate.css" rel="stylesheet">
    <link href="bundles/ptutplatform/css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="../../web/bundles/ptutplatform/js/html5shiv.js"></script>
    <script src="../../web/bundles/ptutplatform/js/respond.min.js"></script>
    <![endif]-->
    
    <link rel="shortcut icon" href="bundles/ptutplatform/images/ico/favicon.ico">

</head>
<body id="site">
    <header class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
          <div class="container">
            <div class="navbar-header">
                
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
              </button>
                
              <a class="navbar-brand" href="#">PTUT S2</a>
                
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="{% block ongletHome %} {% endblock %}"><a href="#">Home</a></li>
                <li class="{% block ongletEditions %} {% endblock %}"><a href="#Editions">Editions</a></li>
                <li class="dropdown {% block ongletCompte %} {% endblock %}"><a href="#" class="dropdown-toggle" data-toggle = "dropdown" role="button">Mon compte<span class="icon-angle-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Se connecter</a></li>
                        <li><a href="#">S'inscrire</a></li>
                    </ul>
                </li>
                <li class="{% block ongletAbout %} {% endblock %}"><a href="#about">About</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
    </header>
    
    {% block body %}

    {% endblock %}
        
    <footer id="footer" class="midnight-blue">
        <div class="col-sm-6">
        <span class="text-muted">PTUT Manon Rajaonarivelo, Sunny Nguyen, Simon Pasquereau, Mehdi Labourdette, Antonin Guyot - IUT Informatique Lyon 1</span>
        </div>
        <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                    </ul>
                </div>
    </footer> 
    <script src="bundles/ptutplatform/js/jquery.js"></script>
    <script src="bundles/ptutplatform/js/bootstrap.min.js"></script>
    <script src="bundles/ptutplatform/js/jquery.prettyPhoto.js"></script>
    <script src="bundles/ptutplatform/js/main.js"></script>
</body>
</html>